/*start*/

body {margin: 0;
    color: #4a4a4a;}
  
  ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#daf0e4;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float:left;
  }
  
  li a {
    display:block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 18px 16px;
    text-decoration:none;
  }
  
  li a:hover{
    background-color: #cbe0e9;
    
  }
  .img1{
  
    margin-bottom: 0px;
  
  }
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  
  }