/*start*/

body {margin: 0;
    color: #4a4a4a;}
  
  ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#daf0e4;
    position: fixed;
    top: 0;
    width: 100%;
  }